MONGODB_URI=mongodb+srv://Faarouq90:@cluster0.hgvn02n.mongodb.net/?appName=Cluster0
DB_NAME=dropbox_clone
FIREBASE_CREDENTIALS=firebase-credentials.json
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
FIREBASE_PROJECT_ID=your_project_id
AZURE_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
BLOB_CONTAINER=dropbox-files
