MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/
DB_NAME=dropbox_clone
FIREBASE_CREDENTIALS=firebase-credentials.json
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
FIREBASE_PROJECT_ID=your_project_id
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OGLjX+N00nGN+Ll0+kHQFRe7bkqRxBNtJ8sXkXQ==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;
BLOB_CONTAINER=dropbox-files
